<div class="wrapper">
  <form [formGroup]="form" (ngSubmit)="loginUser($event)" class="form-signin">       
    <h2 class="form-signin-heading">Please login</h2>
    <input type="email" formControlName="correo" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
    <input type="password" formControlName="password" class="form-control" name="password" placeholder="Password" required=""/>      
    <label class="checkbox">
      <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
    </label>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>   
  </form>
</div>